/* Animation */

._dash-loading {
    margin: auto;
    color: transparent;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

._dash-loading::after {
    font-size: 60px;
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    color: var(--text-color-dark);
    border-radius: 50%;
    margin: 72px auto;
    vertical-align: text-bottom;
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    margin-top: 20rem;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
        -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
        -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
        -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
        -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes fade-left {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-10px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(20px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Header animation */
@keyframes fade-up {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.fade-left {
    animation: fade-left 1s ease-out;
}

.fade-right {
    animation: fade-right 1s ease-out;
}

.fade-up {
    animation: fade-up 1s ease-out;
}

.fade-in {
    animation: fade-in 1s ease-out;
}

.fade-bottom {
    animation: fade-bottom 1s ease-out;
}


:root {
    --text-color-dark: #e4e6eb;
    --text-secondary-color-dark: #b0b3b8;
    --background-color-dark: #18191a;
    --secondary-background-color-dark: #212529;
    --primary-color-dark: #ffffff;
    --secondary-color-dark: #212529;
}


body {
    font-family: "Alata", sans-serif;
    background: linear-gradient(
            rgba(0, 0, 0, 0.8),
            rgba(0, 0, 0, 0.8)
    ), url("background.jpg") no-repeat fixed center;
    background-size: cover;
    margin: 0 5rem 0 5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color-dark)
}

.navbar {
    overflow: hidden;
    background-color: rgba(0, 19, 27, 0.95);
    position: fixed; /* Set the navbar to fixed position */
    right: 0; /* Position the navbar at the top of the page */
    z-index: 1337;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
    border-bottom: 2px solid var(--text-color-dark);
    margin-right: 1rem;
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: var(--text-color-dark)
}

.navbar li a:hover {
    background-color: #111;
}

html {
    scroll-padding-top: 70px; /* height of sticky header */
}

.flex-0 {
    flex: 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.graph-left {
    margin-left: 3rem;
}

.graph-right {
    margin-right: 3rem;
}

.graph-wide {
    align-self: center;
    min-width: 80%;
    max-width: 100%;
}

.title {
    color: var(--text-color-dark);
    font-size: 7rem;
}

.title-medium {
    color: var(--text-color-dark);
    font-size: 4rem;
}

.text-body {
    color: var(--text-color-dark);
    font-size: large;
}

.text-subtitle {
    color: var(--text-secondary-color-dark);
    font-size: 3rem;
}

.two-column {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: var(--text-color-dark);
    flex-wrap: wrap;
}

.text-box {
    margin-left: 4rem;
    margin-right: 4rem;
    word-spacing: 0.2rem;
    opacity: 0.9;
    font-weight: 400;
    flex: 1;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
}

.two-row {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.button-array {
    display: flex;
    justify-content: space-around;
    margin: 0 4rem 0;
    flex: 2;
}

.button-array-column {
    display: flex;
    justify-content: center;
    margin: 0 0rem 0;
    flex: 1;
    flex-direction: column;
    gap: 1.2rem;
}

.button {
    height: 5rem;
    width: 12rem;
    font-size: 1.3rem!important;
}

.countries {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
}

.country-button {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    opacity: 0.7;
    transition: 0.3s opacity;
    border: 0;
}

.country-button:hover {
    cursor: pointer;
    opacity: 1;
}

.china {
    background: url('https://cdn.britannica.com/90/7490-004-BAD4AA72/Flag-China.jpg');
    background-position-x: -4px;
    background-position-y: 29px;
    background-size: 25rem;
}

.norway {
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Flag_of_Norway.svg/512px-Flag_of_Norway.svg.png');
    background-position-x: -10px;
    background-position-y: 18px;
    background-size: 14rem;
}

.custom-tab {
    color: var(--text-color-dark) !important;
    background: unset !important;
    border: unset !important;
    font-size: 26px !important;
    border-bottom: 2px solid !important;
}

.custom-tab:hover {
    border-bottom: 2px solid rgba(100, 149, 237, 0.9) !important;
    color: rgba(100, 149, 237, 0.9) !important;
}

.custom-tab--selected, .custom-tab--selected:hover {
    border-bottom: 2px solid cornflowerblue !important;
    color: cornflowerblue !important;
    background-color: rgba(255, 255, 255, .1) !important;
}

.references {
    color: var(--text-color-dark);
    font-size: 1rem;
    font-weight: 400;
}

.industry-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}